.heading{
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: whitesmoke;
}
.header-text{
  font-size: 25px;
  padding-left: 20px;

}
.input{
  width:80%;
  padding: 10px;
  margin-left: 5%;
  border-radius: 10px;

}
.custom-icon .icon {
  font-size: 17px;
  color: #f05b41;
  margin-right: 2px;
}
